.descriptionModal_mainContainer {
	width: 30vw;

	box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.27);
	background-color: #ffffff;

	min-width: 330px;
	border-radius: 25px;
}
.descriptionModal_textContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.descriptionModal_pTitleTextRow1 {
	font-family: system-ui;
	font-size: 30px;
	color: #797979;
	padding: 0;
	margin: 0;
	margin-top: 10%;
}
.descriptionModal_pTitleTextRow2 {
	font-family: system-ui;
	font-size: 30px;
	color: #797979;
	padding: 0;
	margin: 0;
}
.descriptionModal_pDescriptionText {
	font-family: system-ui;
	font-size: 14px;
	color: #9b9b9b;
	padding: 0;
	margin: 0;
	margin-top: 8.75%;
	margin-left: 40px;
	margin-right: 40px;
}
.descriptionModal_btnContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ff5a60;
	margin-right: 22%;
	margin-left: 22%;
	border-radius: 30px;
	margin-top: 8.75%;
	margin-bottom: 8.75%;
	height: 35px;
}
.descriptionModal_pBtn {
	font-family: system-ui;
	font-size: 14px;
	color: #ffffff;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
