.downloadPage_mainContainer {
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 0;
	position: relative;
}
.downloadPage_background {
	background-color: #ff5a60;
	width: 3000px;
	height: 3000px;
	border-radius: 1500px;
	-webkit-animation-name: backgroundAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: backgroundAnimation;
	animation-duration: 2s;
	position: fixed;
	z-index: -1;
	bottom: -140%;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes backgroundAnimation {
	from {
		width: 0px;
		height: 0px;
		bottom: 20%;
	}
	to {
		width: 3000px;
		height: 3000px;
		bottom: -140%;
	}
}
/* Standard syntax */
@keyframes backgroundAnimation {
	from {
		width: 0px;
		height: 0px;
		bottom: 20%;
	}
	to {
		width: 3000px;
		height: 3000px;
		bottom: -140%;
	}
}

.downloadPage_imageRightBackgroundStyle {
	height: 70%;
	position: absolute;
	top: 15%;
	right: 0;
	-webkit-animation-name: rightImageAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: rightImageAnimation;
	animation-duration: 2s;
	opacity: 1;
	z-index: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightImageAnimation {
	from {
		right: -200px;
	}
	to {
		right: 0;
	}
}
/* Standard syntax */
@keyframes rightImageAnimation {
	from {
		right: -200px;
	}
	to {
		right: 0;
	}
}
.downloadPage_imageLeftBackgroundStyle {
	height: 70%;
	position: absolute;
	top: 15%;
	left: 0;
	-webkit-animation-name: leftImageAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: leftImageAnimation;
	animation-duration: 2s;
	opacity: 1;
	z-index: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes leftImageAnimation {
	from {
		left: -200px;
	}
	to {
		left: 0;
	}
}
/* Standard syntax */
@keyframes leftImageAnimation {
	from {
		left: -200px;
	}
	to {
		left: 0;
	}
}

.downloadPage_topContainer {
	width: 100%;
	height: 50vh;
	min-height: 250px;
}
.downloadPage_bottomContainer {
	width: 100%;
	height: 50vh;
	min-height: 250px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.downloadPage_imageLogoStyle {
	width: 6%;
	margin-top: 7%;
	-webkit-animation-name: logoAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: logoAnimation;
	animation-duration: 1s;
	opacity: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes logoAnimation {
	from {
		margin-top: 0%;
		opacity: 0;
	}
	to {
		margin-top: 7%;
		opacity: 1;
	}
}
/* Standard syntax */
@keyframes logoAnimation {
	from {
		margin-top: 0%;
		opacity: 0;
	}
	to {
		margin-top: 7%;
		opacity: 1;
	}
}

.downloadPage_pTitleTextRow1 {
	font-family: system-ui;
	font-size: 34px;
	color: #ffffff;
	padding: 0;
	margin: 0;
	margin-top: 2.5%;
	-webkit-animation-name: titleTextRow1Animation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
	animation-name: titleTextRow1Animation;
	animation-duration: 2.5s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes titleTextRow1Animation {
	from {
		margin-top: 0%;
		opacity: 0;
	}
	to {
		margin-top: 2.5%;
		opacity: 1;
	}
}
/* Standard syntax */
@keyframes titleTextRow1Animation {
	from {
		margin-top: 0%;
		opacity: 0;
	}
	to {
		margin-top: 2.5%;
		opacity: 1;
	}
}
.downloadPage_pTitleTextRow2 {
	font-family: system-ui;
	font-size: 34px;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.downloadPage_downloadBtnsContainer {
	width: 56%;
	height: 100%;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
	box-sizing: border-box;
	-webkit-animation-name: downloadBtnAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
	animation-name: downloadBtnAnimation;
	animation-duration: 2.5s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes downloadBtnAnimation {
	from {
		padding-top: 200px;
		opacity: 0;
	}
	to {
		padding-top: 60px;
		opacity: 1;
	}
}
/* Standard syntax */
@keyframes downloadBtnAnimation {
	from {
		padding-top: 200px;
		opacity: 0;
	}
	to {
		padding-top: 60px;
		opacity: 1;
	}
}

/**********************MobileView************************/
.downloadPage_mainContainer_MobileView {
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 0;
	position: relative;
}
.downloadPage_background_MobileView {
	background-color: #ff5a60;
	width: 3000px;
	height: 3000px;
	border-radius: 1500px;
	-webkit-animation-name: backgroundAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: backgroundAnimation_MobileView;
	animation-duration: 2s;
	position: fixed;
	z-index: -1;
	bottom: -140%;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes backgroundAnimation_MobileView {
	from {
		width: 0px;
		height: 0px;
		bottom: 20%;
	}
	to {
		width: 3000px;
		height: 3000px;
		bottom: -140%;
	}
}
/* Standard syntax */
@keyframes backgroundAnimation_MobileView {
	from {
		width: 0px;
		height: 0px;
		bottom: 20%;
	}
	to {
		width: 3000px;
		height: 3000px;
		bottom: -140%;
	}
}

.downloadPage_imageRightBackgroundStyle_MobileView {
	height: 40%;
	position: absolute;
	top: 45%;
	right: 0;
	-webkit-animation-name: rightImageAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: rightImageAnimation_MobileView;
	animation-duration: 2s;
	opacity: 1;
	z-index: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightImageAnimation_MobileView {
	from {
		right: -200px;
	}
	to {
		right: 0;
	}
}
/* Standard syntax */
@keyframes rightImageAnimation_MobileView {
	from {
		right: -200px;
	}
	to {
		right: 0;
	}
}
.downloadPage_imageLeftBackgroundStyle_MobileView {
	height: 40%;
	position: absolute;
	top: 25%;
	left: 0;
	-webkit-animation-name: leftImageAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: leftImageAnimation_MobileView;
	animation-duration: 2s;
	opacity: 1;
	z-index: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes leftImageAnimation_MobileView {
	from {
		left: -200px;
	}
	to {
		left: 0;
	}
}
/* Standard syntax */
@keyframes leftImageAnimation_MobileView {
	from {
		left: -200px;
	}
	to {
		left: 0;
	}
}

.downloadPage_topContainer_MobileView {
	width: 100%;
	height: 50vh;
	min-height: 250px;
}
.downloadPage_bottomContainer_MobileView {
	width: 100%;
	height: 50vh;
	min-height: 250px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.downloadPage_imageLogoStyle_MobileView {
	width: 16%;
	margin-top: 7%;
	-webkit-animation-name: logoAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: logoAnimation_MobileView;
	animation-duration: 1s;
	opacity: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes logoAnimation_MobileView {
	from {
		margin-top: 0%;
		opacity: 0;
	}
	to {
		margin-top: 7%;
		opacity: 1;
	}
}
/* Standard syntax */
@keyframes logoAnimation_MobileView {
	from {
		margin-top: 0%;
		opacity: 0;
	}
	to {
		margin-top: 7%;
		opacity: 1;
	}
}

.downloadPage_pTitleTextRow1_MobileView {
	font-family: system-ui;
	font-size: 30px;
	color: #ffffff;
	padding: 0;
	margin: 0;
	margin-top: 2.5%;
	-webkit-animation-name: titleTextRow1Animation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
	animation-name: titleTextRow1Animation_MobileView;
	animation-duration: 2.5s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes titleTextRow1Animation_MobileView {
	from {
		margin-top: 0%;
		opacity: 0;
	}
	to {
		margin-top: 2.5%;
		opacity: 1;
	}
}
/* Standard syntax */
@keyframes titleTextRow1Animation_MobileView {
	from {
		margin-top: 0%;
		opacity: 0;
	}
	to {
		margin-top: 2.5%;
		opacity: 1;
	}
}
.downloadPage_pTitleTextRow2_MobileView {
	font-family: system-ui;
	font-size: 30px;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.downloadPage_downloadBtnsContainer_MobileView {
	width: 56%;
	height: 100%;
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	-webkit-animation-name: downloadBtnAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
	animation-name: downloadBtnAnimation_MobileView;
	animation-duration: 2.5s;
	padding-top: 20px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes downloadBtnAnimation_MobileView {
	from {
		padding-top: 200px;
		opacity: 0;
	}
	to {
		padding-top: 20px;
		opacity: 1;
	}
}
/* Standard syntax */
@keyframes downloadBtnAnimation_MobileView {
	from {
		padding-top: 200px;
		opacity: 0;
	}
	to {
		padding-top: 20px;
		opacity: 1;
	}
}
