.downloadBtnComponent_mainContainer {
	width: 46%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.downloadBtnComponent_btnContainer {
	width: 100%;
	height: 26%;
	background-color: #ffffff;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 7%;
	padding-left: 7%;
	box-sizing: border-box;
}
.downloadBtnComponent_btnContainer:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}
.downloadBtnComponent_pBtnText {
	font-family: system-ui;
	font-size: 2vw;
	color: #424242;
	padding: 0;
	margin: 0;
	font-weight: 600;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.downloadBtnComponent_arrow {
	width: 10px;
	height: 10px;
	border-right: solid #424242 2px;
	border-bottom: solid #424242 2px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.downloadBtnComponent_btnOptionsContainerExtend {
	width: 100%;
	margin-top: 6%;
	height: 141px;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 10px;
	-webkit-animation-name: btnOptionsExpandAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
	animation-name: btnOptionsExpandAnimation;
	animation-duration: 1.5s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes btnOptionsExpandAnimation {
	from {
		height: 0;
	}
	to {
		height: 141px;
	}
}
/* Standard syntax */
@keyframes btnOptionsExpandAnimation {
	from {
		height: 0;
	}
	to {
		height: 141px;
	}
}
.downloadBtnComponent_btnOptionsRowContainer {
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.downloadBtnComponent_btnOptionsImageStyle {
	height: 42px;
	margin-left: 10px;
}
.downloadBtnComponent_pBtnOptionsText {
	font-family: system-ui;
	font-size: 2vw;
	color: #7c7c7c;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.downloadBtnComponent_seperatorLine {
	height: 1px;
	width: 92%;
	background-color: #d8d8d8;
	margin: auto;
}

/************************MobileView*************************/
.downloadBtnComponent_mainContainer_MobileView {
	width: 80%;
}
.downloadBtnComponent_btnContainer_MobileView {
	width: 100%;
	height: 40px;
	margin-bottom: 6px;
	background-color: #ffffff;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 7%;
	padding-left: 7%;
	box-sizing: border-box;
}
.downloadBtnComponent_btnContainer_MobileView:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}
.downloadBtnComponent_pBtnText_MobileView {
	font-family: system-ui;
	font-size: 12px;
	color: #424242;
	padding: 0;
	margin: 0;
	font-weight: 600;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.downloadBtnComponent_arrow_MobileView {
	width: 6px;
	height: 6px;
	border-right: solid #424242 2px;
	border-bottom: solid #424242 2px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.downloadBtnComponent_btnOptionsContainerExtend_MobileView {
	width: 100%;
	margin-top: 0px;
	height: 81px;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 10px;
	-webkit-animation-name: btnOptionsExpandAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
	animation-name: btnOptionsExpandAnimation_MobileView;
	animation-duration: 1.5s;
	margin-bottom: 6px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes btnOptionsExpandAnimation_MobileView {
	from {
		height: 0;
	}
	to {
		height: 81px;
	}
}
/* Standard syntax */
@keyframes btnOptionsExpandAnimation_MobileView {
	from {
		height: 0;
	}
	to {
		height: 81px;
	}
}
.downloadBtnComponent_btnOptionsRowContainer_MobileView {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.downloadBtnComponent_btnOptionsImageStyle_MobileView {
	height: 33px;
	margin-left: 10px;
}
.downloadBtnComponent_pBtnOptionsText_MobileView {
	font-family: system-ui;
	font-size: 13px;
	color: #7c7c7c;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.downloadBtnComponent_seperatorLine_MobileView {
	height: 1px;
	width: 92%;
	background-color: #d8d8d8;
	margin: auto;
}
