.mainLandingPage_mainContainer {
	height: 100%;
	width: 100%;
	background-color: #f4f4f4;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.mainLandingPage_descriptionModalContainer {
	height: 100%;
	width: 100%;
	min-width: 700px;
	min-height: 300px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.mainLandingPage_imageIphoneBackground {
	height: 70%;
	position: absolute;
	bottom: 20%;
	left: 0;
	-webkit-animation-name: iphoneImageAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: iphoneImageAnimation;
	animation-duration: 2s;
	opacity: 1;
	z-index: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes iphoneImageAnimation {
	from {
		left: -200px;
	}
	to {
		left: 0;
	}
}
/* Standard syntax */
@keyframes iphoneImageAnimation {
	from {
		left: -200px;
	}
	to {
		left: 0;
	}
}

.downloadPage_imageNexusBackground {
	height: 65%;
	position: absolute;
	bottom: 20%;
	left: 10%;
	-webkit-animation-name: nexusImageAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: nexusImageAnimation;
	animation-duration: 2s;
	opacity: 1;
	z-index: -1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes nexusImageAnimation {
	from {
		left: -200px;
	}
	to {
		left: 10%;
	}
}
/* Standard syntax */
@keyframes nexusImageAnimation {
	from {
		left: -200px;
	}
	to {
		left: 10%;
	}
}
.mainLandingPage_rightBackgroundImageContainer {
	width: 20%;
	height: 10%;
	position: absolute;
	right: 17%;
	bottom: 45%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	z-index: -1;
	-webkit-animation-name: rightImagesAnimation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: rightImagesAnimation;
	animation-duration: 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightImagesAnimation {
	from {
		right: -17%;
	}
	to {
		right: 17%;
	}
}
/* Standard syntax */
@keyframes rightImagesAnimation {
	from {
		right: -17%;
	}
	to {
		right: 17%;
	}
}
.mainLandingPage_rightBackgroundImages {
	height: 100%;
	margin-right: 6%;
	box-sizing: border-box;
}

/**********************MobileView************************/
.mainLandingPage_descriptionModalContainer_MobileView {
	height: 100%;
	width: 100%;
	min-height: 300px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	overflow: hidden;
}
.mainLandingPage_imageIphoneBackground_MobileView {
	height: 70%;
	position: absolute;
	bottom: 35%;
	left: 0;
	-webkit-animation-name: iphoneImageAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: iphoneImageAnimation_MobileView;
	animation-duration: 2s;
	opacity: 1;
	z-index: -1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes iphoneImageAnimation_MobileView {
	from {
		left: -200px;
	}
	to {
		left: 0;
	}
}
/* Standard syntax */
@keyframes iphoneImageAnimation_MobileView {
	from {
		left: -200px;
	}
	to {
		left: 0;
	}
}

.downloadPage_imageNexusBackground_MobileView {
	height: 65%;
	position: absolute;
	bottom: 35%;
	left: 10%;
	-webkit-animation-name: nexusImageAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: nexusImageAnimation_MobileView;
	animation-duration: 2s;
	opacity: 1;
	z-index: -2;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes nexusImageAnimation_MobileView {
	from {
		left: -200px;
	}
	to {
		left: 10%;
	}
}
/* Standard syntax */
@keyframes nexusImageAnimation_MobileView {
	from {
		left: -200px;
	}
	to {
		left: 10%;
	}
}
.mainLandingPage_rightBackgroundImageContainer_MobileView {
	width: 20%;
	height: 10%;
	position: absolute;
	right: 27%;
	bottom: 10%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	z-index: -1;
	-webkit-animation-name: rightImagesAnimation_MobileView; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: rightImagesAnimation_MobileView;
	animation-duration: 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightImagesAnimation_MobileView {
	from {
		right: -17%;
	}
	to {
		right: 17%;
	}
}
/* Standard syntax */
@keyframes rightImagesAnimation_MobileView {
	from {
		right: -17%;
	}
	to {
		right: 17%;
	}
}
.mainLandingPage_rightBackgroundImages_MobileView {
	height: 100%;
	margin-right: 6%;
	box-sizing: border-box;
}
